<!DOCTYPE html>
<html>
<body>
	<form >
		Nombre:
		<input type="text" name="nombre" id="nombre"/>
		<br>
		Apellido Paterno:
		<input type="text" name="apaterno" id="apaterno"/>
		<br>
		Apellido Materno:
		<input type="text" name="amaterno" id="amaterno"/>
		<br>
		
		Nombre Materia:
		<input type="text" name="materia" id="materia"/>
		<br>
		creditos:
		<input type="text" name="creditos" id="creditos"/>
		<br>
		
		<input type="submit" name="btn" id="btn" value="Guardar" />
  					<hr>
  					</form>
                #{if a}
				<h1>El usuario se guardo exitosamente </h1>
				#{/if}
				
				 #{if ma}
				<h1>El la materia se a guardado</h1>
				#{/if}

	</form>
</body>
</html>>