<!DOCTYPE html>
<html>
<body>
	<form>
  				Nombre1:
  					<input type="text" name="nombre1" id="nombre1"/>
  					<br>
  				Nombre2:
  					<input type="text" name="nombre2" id="nombre2"/>
  					<br>
  				Materia1:
  					<input type="text" name="materia1" id="materia1"/>
  					<br>
  				Materia2:
  					<input type="text" name="materia2" id="materia2"/>
  					<br>
  					
  					<input type="submit" name="btn" id="btn" value="Guardar" />
  					<hr>
  					</form>
                #{if u}
				<h1>El usuario se a cambiado exitosamente</h1>
				#{/if}
</body>
</html>>